<% content_for :page_title do %>
	<h1>Listing Users</h1>
<% end %>

<%= will_paginate @users %>

<table>
	<% for user in @users %>
		<tr>
			<td><%= user.email %></td>
			<td><%= link_to "Edit", edit_admin_user_path(user.id), :id => "edit#{user.id}" %></td>
			<td><%= link_to "Deactivate", deactivate_admin_user_path(user.id), :id => "deactivate#{user.id}", :method => :put %></td>
		</tr>
	<% end %>
</table>

<%= will_paginate @users %>